body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: rgba(202,238,214,0.86);
}

#mainDiv {
    width: 200px;
    height: 200px;
    background-color: red;
}